title CICD Pipelines Industrialization

style wardley

annotation 1 [0.60, 0.79] Build runner evolved into a commodity - obvious and well known
annotation 2 [0.49, 0.85] Making deployments unified allows faster value delivery
annotations [0.70, 0.02]

component Developer [0.96, 0.47] 
component Application Source Code [0.91, 0.26] (build) label [-100, -20]
Developer -> Application Source Code

component Feature Development [0.93, 0.65] (build) label [30, -10]
component Code Reviews [.90, 0.85] (build) label [30, 1]
component Unit tests [.85, 0.85] (build) label [30, -1]
component Integration tests [.80, 0.85] (build) label [40, -10]

//
Feature Development -> Code Reviews
Feature Development -> Unit tests
Feature Development -> Integration tests

Developer->Code
Developer->Feature Development
Developer->Merge Requests and Code Reviews

component Pipeline [0.83, 0.34] (buy) label [10, -20]
Developer->Pipeline

component Deployment [0.45, 0.16] (buy)
component Secret Storage [0.42, 0.54] (buy)
component Build Runner [0.56, 0.32] (buy) label [10, -20]
Pipeline -> Build Runner
Pipeline -> Deployment

//Evolve
evolve Build Runner 0.75
evolve Deployment 0.81

Pipeline->Secret Storage
Secret Storage -> Platform

component Platform [0.27, 0.51] (buy)
Web Site->Platform 

component Compute [0.28, 0.88] (buy)
Platform->Compute

Deployment -> Platform

component Data Centre [0.15, 0.34] (buy)
Compute->Data Centre
CRM->Compute

component Power [0.1, 0.9] (outsource)
Data Centre->Power
Compute->Power 

